%main.container.general-main-wrap
  %h1.general-title-margin Checkout
  = render 'steps'
  = simple_form_for @addresses, url: wizard_path, method: :put, class: 'res-mb-100' do |form|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        = form.fields_for @addresses.billing do |ff|
          = render 'addresses/form_fields', f: ff
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle Shipping Address
        = form.fields_for @addresses.shipping do |ff|
          = render 'addresses/form_fields', f: ff
        .form-group.checkbox
          %label.checkbox-label
            = form.check_box :use_billing, class: 'checkbox-input', id: 'use_billing', hidden: true
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= 'Use Billing Adress'
    .general-text-align.mb-60
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        = render 'order_summary', order: current_order
    .actions.text-center
      = form.submit "Save and Continue", class: 'btn btn-default mb-20'
