%main.container.general-main-wrap.mb-res-50
  %h1.general-title-margin Checkout
  = render 'steps'
  %h3.general-subtitle Credit Card
  = simple_form_for @credit_card, url: wizard_path, method: :put, html: {class: 'max-600'} do |form|
    = form.input :number, required: false, label: 'Card Number', placeholder: 'Card Number'
    .row
      .col-sm-6
        = form.input :name_on_card, required: false, placeholder: 'Name on Card'
      .col-sm-3
        = form.input :month_year, label: 'MM / YY', required: false, placeholder: 'MM / YY'
      .col-sm-3
        = form.input :cvv, label: 'CVV', required: false, placeholder: 'CVV', input_html: { class: 'relative' }
        %i.fa.fa-question-circle.general-form-help.pr-15{'data-toggle': 'tooltip', 'data-placement': :top, title: '3-digit security code, usually found on the back of your card. American Express cards has 4-digit code, located on the front'}
    .general-text-align.mt-80
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        = render 'order_summary', order: current_order
      .pull-right
        = form.submit 'Save and Continue', class: 'btn btn-default mb-80'
